[submodule "articles/computer_vision/object_detectors/yolov5"]
	path = articles/computer_vision/object_detectors/yolov5
	url = https://github.com/ultralytics/yolov5
[submodule "articles/computer_vision/object_detectors/yolov8"]
	path = articles/computer_vision/object_detectors/yolov8
	url = https://github.com/ultralytics/ultralytics
